<table mat-table [dataSource]="players" class="mat-elevation-z8" fxFlex>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> JOGADOR </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>  


    <ng-container matColumnDef="nationality">
        <th mat-header-cell *matHeaderCellDef> NACIONALIDADE </th>
        <td mat-cell *matCellDef="let element"> {{element.nationality}} </td>
    </ng-container>
    
      
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> PREÇO </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  